<div class="list-group" *ngIf='athlete'>
  <div class="list-group-item"><span>First Name: </span>{{athlete.firstName}}</div>
  <div class="list-group-item"><span>Second Name: </span>{{athlete.secondName}}</div>
  <div class="list-group-item"><span>Age: </span>{{athlete.age}}</div>
  <div class="list-group-item"><span>Club: </span>{{athlete.club}}</div>
  <div class="list-group-item"><span>Discipline: </span>{{athlete.disc}}</div>
  <div class="list-group-item"><span>Nationality: </span>{{athlete.nationality}}</div>
</div>
