<div class="row">
  <div class="col-sm-4">
    <ul class="list-group athletes-list margin-right-5">
      <h1>Athletes List</h1>
      <div class="margin-top-20">
        <li class="list-group-item" *ngFor="let item of athletesList; let i = index" [attr.deleteAthlete]="item" [attr.data-index]="i"><span
          class="pull-left ">{{i+1}}.</span>
          <p>{{item.firstName}} {{item.secondName}}
            <button type="button" (click)="deleteFromList(item)" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </p>
        </li>
      </div>
    </ul>
  </div>
  <div class="col-sm-8 margin-top-20">
    <app-athletes-search [allAthletes]='athletesList'></app-athletes-search>
  </div>
</div>



